FOOTBALL_DATA_API_KEY = YOUR_API_KEY_HERE #X-Auth-Token

# ClubArc expects an environment variable with this key to be set in 
# order to access the Football Data API. Please replace YOUR_API_KEY_HERE 
# with your actual API key
