FOOTBALL_DATA_API_KEY = YOUR_API_KEY_HERE #X-Auth-Token

"""
ClubArc expects an environment variable with this key to be set in 
order to access the Football Data API. Please replace YOUR_API_KEY_HERE 
with your actual API key from Football-Data.org and save this file as .env in the root directory of the project.
"""
